{
  "broadcast": "192.168.0.255",
  "frequency": 5000,
  "hosts": [
    {
      "mac": "aa:bb:cc:dd:ee:ff",
      "alias": "My iPhone",
      "appeared": {
        "GET": [
          "http://example.com?q=%s&hello"
        ],
        "POST": [
        ],
      },
      "removed": {
        "GET": [
          "http://example.com?q=%s&byebye"
        ],
        "POST": [
        ],
      }
    }
  ]
}
